<title><%= @sanction.name %> | Sancbook</title>

<h1>Update / Delete sanction</h1>
<% if @sanction.errors.any? %>
            <ol class="error">
                <% @sanction.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ol>
    <% end %>

<div class="form_container">
    <div>
        <%= render :partial => 'form' %>
        <br>
        <br>
        <%= button_to 'Delete Sanction', @sanction, :method => 'delete', :data => { :confirm => "Are you sure to delete this sanction?" } %>
    </div>
 
        <figure class ='preview'>
            <div class="featurePlaceholder">
            <p>Image from the URL will pop up here as you fill in the flag input box.</p>
            <img onload="featureWidth()" class="feature" src="<%= @sanction["image"] %>">  
            </div>
        </figure>
  
</div>

<script>



    preview = document.querySelector(".preview");
    profile_pic = document.querySelector("#sanction_image");
    featurePlaceholder = document.querySelector(".featurePlaceholder");
    profile_pic.addEventListener("input", function(){
        e = featurePlaceholder.lastElementChild
        if (profile_pic.value != '') {
            p = featurePlaceholder.querySelector("p")

            if (typeof(p) != 'undefined' && p != null) {
                featurePlaceholder.removeChild(p)
            }
            img = document.createElement('img')
            img.src = profile_pic.value
            featurePlaceholder.appendChild(img)
            featurePlaceholder.removeChild(e);
        } else {
            p = document.createElement('p')
            p.textContent = "Image from the URL will pop up here as you fill in the image input box."
            featurePlaceholder.appendChild(p)
            featurePlaceholder.removeChild(e);
        }
    })


        if (profile_pic.value != '') {
            p = featurePlaceholder.querySelector("p")

            if (typeof(p) != 'undefined' && p != null) {
                featurePlaceholder.removeChild(p)
            }
        }
</script>