<title><%= @sanction.name %> | Sancbook</title>

<div class="showContainer">
    <div>
        <div class="profile">
            <div class='details'>   
                <h2><%= @sanction["name"] %></h2>
                <p>Nationality: 
                <% unless Country.find_by(name: @sanction.nationality).nil?%>
                
                <%= link_to @sanction["nationality"], "/countries/#{Country.find_by(id: @country.id).country_code}" %>
                
                
                
                
                <% else %>
                <% @sanction["nationality"] %>
                <% end %></p>

                <p>Risk: <%= @sanction["risk"] %></p>
                <p>Sanctioned by: <a href="/users/<%= User.find_by(id: @sanction.user_id).username %>"><%= @sanctioned_by %></a></p>
                <p class='favored'>Favoured by: 
                <% if @favoured_by_id.size <= 4%>
                    <% count = 1 %>
                    <% @favoured_by_id.each do |user_id| %>
                        <a href="/users/<%= User.find_by(id: user_id).username %>"><%= User.find_by(id: user_id).username %></a><%if (count < @favoured_by_id.size-1)%>, 
                        <% elsif count == @favoured_by_id.size-1 %> and <% end %>
                        <% count += 1 %>
                    <% end %>
                <% else %>
                    <a href="/users/<%= User.find_by(id: @favoured_by_id[0]).username %>"><%= User.find_by(id: @favoured_by_id[0]).username %></a>, <a href="/users/<%= @favoured_by_id[1] %>/profile"><%= User.find_by(id: @favoured_by_id[1]).username%></a> and <%= link_to "#{@favoured_by_id.size - 2}", "#{params[:id]}/favourites" %> others
                <% end %>
                </p>
                
            </div>

            <div class="div_feature">
            <div class="featurePlaceholder">
                <% unless @sanction["image"].nil? || @sanction["image"].empty? %>
                <img onload="featureWidth()" class="feature" src="<%= @sanction["image"] %>" alt="<%= @sanction["name"] %>">
                <% else %>
                <p class="featureText">Image coming soon..</p>
                <% end%>
            </div>
                <% if @current_user.present? %>
                    <% unless @current_user.admin? %>
                        <% if @fav == true%>
                            <%= link_to "Remove from favourite", "#{params[:id]}/favourite", method: :delete , style: "font-size:small;margin-top:-5%", class: "remove" %>
                            <p class="favourite">My favourite ❤️</p>
                            
                        <% else %>
                            <%= link_to "Add to favourite", "#{params[:id]}/add_favourite", method: :post , class: "favourite" %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>


        <h3>The below information is published and provided by OFAC. <br> <span style="font-weight:normal; font-size:medium">(Please note that it may not be up-to-date.)</span></h3>

        <h4 class='summary'>Summary</h4>
        <p><%= @summary %></p>

        <h4 class='address'>Address</h4>
        <p><%= @address %></p>

        <br>

        <button type="button" class="collapsible">▼ Wikipedia - <%= @sanction["name"] %></button>
        <div class="content">
            <p>
                <% if @sanction_info == "Not Available" %>
                    Not available. <br> 
                    Why don't you google it yourself? <br> 
                    <a href="https://www.google.com/search?q=<%= @sanction["name"] %>">https://www.google.com/search?q=<%= @sanction["name"] %></a>
                <% else%>
                <%= @sanction_info %>
                <% end%></p>
        </div>

        <br>
        <% if @current_user.present? %>
            <% if (@current_user.admin? || @current_user.id === Sanction.find_by(id: params[:id]).user_id) %>
                <div class="control">
                    <a href="/sanctions/<%= @sanction["id"] %>/edit">Update / Delete sanction</a>
                </div>  
            <% end %>
        <% end %>
    </div>

    <div class="commentSection">
        <div class="commentHeader"><h3>💬 Comments</h3></div>
        <div class="commentArea">
            <% if @current_user.present? %>
                <% @sanction_comments.each do |comment| %>
                
                        <div class="comment">
                        <div>
                        <span style="font-weight:bold"><a class="user" href="/users/<%= comment.user_id %>/profile"><%= User.find_by(id: comment.user_id).username %></a></span> <span style="font-size:small"><%= comment.sent.strftime("%Y-%m-%d %k:%M") %></span>
                        <% if @current_user.present? %><% if (@current_user.admin? || comment.user_id ==  @current_user.id ) %><a class='removeComment' data-method="delete" href="/comments/<%= comment.id %>">Delete</a><% end %><% end %></div>
                        <p style="line-height:22px"><%= comment.text %></p>
                        </div>
                              
                <% end%>
            <% else %>
                <p>Please <a data-method='get' href="/login">login</a> to view the comments</p>
            <% end%>
        
        </div>
   
        <%= render partial: 'comments/form' %>

    </div>
</div>


<script>
    coll = document.querySelector(".collapsible");
    coll.addEventListener("click", function() {
            this.classList.toggle("active");
            let content = this.nextElementSibling;
            if (content.style.display === "block") {
            content.style.display = "none";
            } else {
            content.style.display = "block";
            }

            if (this.classList.contains("active")) {
                this.textContent = this.textContent.replace('▼', '▲')
            }
            else {
                this.textContent = this.textContent.replace('▲', '▼')
            }
        })
    
    div_feature = document.querySelector(".div_feature")
    favourite = document.querySelector(".favourite")
    h2 = document.querySelector("h2")
    favored = document.querySelector(".favored")
  
    if (favourite != null) {
        favourite.addEventListener("click", function() {
            if (<%= @fav %> === false ) {
                p = document.createElement('p')
                p.textContent = "Added to my favourite ❤️"
                div_feature.appendChild(p)
                div_feature.removeChild(favourite)
            }

            max = favored.childElementCount
            count = 0
            while (favored.firstChild && count != max * 2) {
                favored.removeChild(favored.lastChild);
                count++
            }

            idArray = "<%= @favoured_by_id %>".replace('[','')
            idArray = idArray.replace(']','')
            idArray = idArray.split(', ')
            usernameArray = "<%= @favoured_by_username %>"
            usernameArray = usernameArray.replace(/&quot;/g,'')
            usernameArray = usernameArray.replace('[','')
            usernameArray = usernameArray.replace(']','')
            usernameArray = usernameArray.split(', ')
            
            
            
            idArray.push(parseInt("<%= @id %>"))
            usernameArray.push("<%= User.find_by(id: @id).username %>")



            if (idArray.length <= 4) {
                if (idArray[0] === "") {
                    createAtag(usernameArray[1],`/users/${usernameArray[1]}`)
                }
                else {
                    for (let i=0;i<idArray.length;i++) {
                        createAtag(usernameArray[i],`/users/${usernameArray[i]}`)
                        if (i == idArray.length - 2) {
                            createSpantag(" and ")
                            continue
                        }
                        if (i < idArray.length - 1) {
                            createSpantag(", ")
                        }
                    }
                }
            }
            if (idArray.length > 4) {
                for (let i=0;i<2;i++) {
                    createAtag(usernameArray[i],`/users/${usernameArray[i]}`)
                    createSpantag(", ")
                }
                favored.removeChild(favored.lastChild)
                createSpantag(" and ")
                createAtag(idArray.length - 2,`/sanctions/<%= params[:id] %>/favourites`)
                createSpantag(" others")

            }
        }, {once : true})
    }

    
    remove = document.querySelector(".remove")
    if (remove != null) {
        remove.addEventListener("click", function() {
            if (<%= @fav %> === true ) {
                p = document.createElement('p')
                p.textContent = "Favourite removed!"
                div_feature.appendChild(p)
                div_feature.removeChild(remove)
                div_feature.removeChild(favourite)
            }
           

            max = favored.childElementCount
            count = 0
            while (favored.firstChild && count != max * 2) {
                favored.removeChild(favored.lastChild);
                count++
            }
            
            idArray = "<%= @favoured_by_id %>".replace('[','')
            idArray = idArray.replace(']','')
            idArray = idArray.split(', ')   
            usernameArray = "<%= @favoured_by_username %>"
            usernameArray = usernameArray.replace(/&quot;/g,'')
            usernameArray = usernameArray.replace('[','')
            usernameArray = usernameArray.replace(']','')
            usernameArray = usernameArray.split(', ')

            newidArray = []
            for (let i=0;i<idArray.length;i++) {
                if (idArray[i] == parseInt("<%= @id %>")) {
                    continue
                }
                else {
                    newidArray.push(idArray[i])
                }
            }

            newusernameArray = []
            for (let i=0;i<usernameArray.length;i++) {
                if (usernameArray[i] == "<%= User.find_by(id: @id).username %>") {
                    continue
                }
                else {
                    newusernameArray.push(usernameArray[i])
                }
            }
        
            if (newidArray.length <= 4) {
                if (newidArray[0] === "") {
                    createAtag(newusernameArray[1],`/users/${newusernameArray[1]}/`)
                }
                else {
                    for (let i=0;i<newidArray.length;i++) {
                        createAtag(newusernameArray[i],`/users/${newusernameArray[i]}/profile`)
                        if (i == newidArray.length - 2) {
                            createSpantag(" and ")
                            continue
                        }
                        if (i < newidArray.length - 1) {
                            createSpantag(", ")
                        }
                    }
                }
            }
            if (newidArray.length > 4) {
                for (let i=0;i<2;i++) {
                    createAtag(newusernameArray[i],`/users/${newusernameArray[i]}`)
                    createSpantag(", ")
                }
                favored.removeChild(favored.lastChild)
                createSpantag(" and ")
                createAtag(newidArray.length - 2,`/sanctions/<%= params[:id] %>/favourites`)
                createSpantag(" others")

            }
        }, {once : true})
    }


    comments = document.querySelectorAll('.comment')
    comments.forEach(target =>
   
        target.addEventListener("mouseleave", function() {
            removeComment = target.querySelector('.removeComment')
            removeComment.style.display = "none"
        })
    )
    comments.forEach(target =>
        target.addEventListener("mouseenter", function() {
            removeComment = target.querySelector('.removeComment')
            removeComment.style.display = "initial"
        })
    )
    




</script>