<title>Sancbook - log in or sign up</title>

<div class="login_profile">
    <div class='existing_user'>
        <h2>EXISTING USER</h2>
        <p class='error'>
            <%= flash[:error] %>  
        </p>

        <%= form_tag login_path do %>
            <%= label_tag :email, '*Email address' %>
            <%= email_field_tag :email %>
            <br><br>
            <%= label_tag :password, '*Password' %>
            <%= password_field_tag :password %>
            <br><br>
            <%= submit_tag "LOGIN TO YOUR ACCOUNT", :class=>"submit" %>

        <% end %>
    </div>

    <div class="new_user">
        <h2>NEW USER</h2>

        <%= form_tag new_user_path, :method => 'get' do %>
            <%= submit_tag "REGISTER", :class=>"submit"%>
        <% end %>

        
    
    
    
    </div>

</div>




<script>

    user = document.querySelector('.user')
    user.style.display = "none";

</script>


