

<% if @user.errors.any? %>
            <ol>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ol>
    <% end %>
<div class="edit_profile">
    <div>
        <h2>Update password</h2>
        <%= form_for @user, method: :put do |f| %>
            <%= f.label :username %>
            <%= f.text_field :username, disabled: true %>

            <%= f.label :email %>
            <%= f.email_field :email, disabled: true %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
            
            <p class='alert'><%= flash[:alert] %></p>

            <%= f.submit 'Update password', :class=>"submit" %>
        <% end %>
    </div>
</div>
