<title><%= User.find_by(id: params[:id]).username %> | Sancbook</title>
<p class='notice'> test
            <%= flash[:notice] %>  
</p>
<% unless @current_user.admin? && @current_user.id == params[:id].to_i%>
<div class="userProfile">
<% if @current_user.id == params[:id].to_i %>
    <h1>Hello, <%= @current_user.username %>!</h1>
    <%= link_to 'View comment history', "#{User.find_by(id: params[:id]).username}/history", :class => "userOptions" %>
    <%= link_to 'Update password', edit_user_path, :class => "userOptions" %>
    
    <br>
    <h2>My sanctions</h2>
<% else %>
    <% if @current_user.admin? %>
        <div class='adminView'><h1><%= User.find_by(id: params[:id]).username %>'s profile <a href="<%= User.find_by(id: params[:id]).username %>/messages" class="mail">✉️</a>  <br><span style="font-size:large; font-weight: normal">(<%= User.find_by(id: params[:id]).email %>)</span></h1>
        <%= link_to 'View comment history', "#{User.find_by(id: params[:id]).username}/history", :class => "userOptions" %>
         <%= form_tag("#{params[:id]}/comments", method: :delete) do %>
            <% unless User.find_by(id: params[:id]).comments.size == 0 %>
                <%= submit_tag "Delete all comments from this user", data: { confirm: "Are you sure to delete all this user's comments?", class: "delete_all_comments" }%><%= token_tag %>
            <% else %>
                <%= submit_tag "No comments from this user", class: "no_comments" %><%= token_tag %>
            <% end %>
            <% end %>
        
        </div>
    <% else %>
        <h1><%= User.find_by(id: params[:id]).username %>'s profile <a href="<%= User.find_by(id: params[:id]).username %>/messages" class="mail">✉️</a></h1>
    <% end %>
    <br>
    <h2>Their sanctions</h2>
<% end %>
</div>



<div class="personal_index">

    <% @user_sanction_nations.each do |nation| %>
        <h4 class="nation"><% unless Country.find_by(name: nation).nil?%>
    <a href="/countries/<%= Country.find_by(name: nation).id %>"><%= nation %></a>
    <% else %><%= nation %><% end %></h4>
      <% sanctions = @user_sanctions.where(nationality: nation) %>
      <div class="sanction_index">
      <% sanctions.each do |sanction| %>
            <p>
                <a href="/sanctions/<%= sanction["id"] %>">
                    <%= sanction["name"] %>
                </a>
             </p>
      <% end %>
      </div>
    <% end %>

    <% if @user_sanctions.size == 0 %>
        <% if @current_user.id == params[:id].to_i %>
            <p>Why don't you start sanctioning some people?</p>
        <% else %>
            <p>No sanctions by this user yet. </p>
        <% end %>
    <% end %>
    
</div>







<br><br><br>
<% if @current_user.id == params[:id].to_i %>
    <h2>My favourites</h2>
<% else %>
    <h2>Their favourites</h2>
<% end %>

<div class='personal_index'>

    <% if @user_favourites.size > 0 %>
       
        <% @user_favourite_nations.each do |nation| %>
            <h4 class="nation"><% unless Country.find_by(name: nation).nil?%>
                <a href="/countries/<%= Country.find_by(name: nation).id %>"><%= nation %></a>
            <% else %><%= nation %><% end %></h4>
            <% favourites = @user_favourites.select { |f| f.nationality == nation } %>
      <div class="sanction_index">
      <% favourites.each do |favourite| %>
            <p>
                <a href="/sanctions/<%= favourite.id %>">
                    <%= favourite.name %>
                </a>
             </p>
      <% end %>
      </div>
    <% end %>




    <% else %>
        <% if @current_user.id == params[:id].to_i %>
            <p>Go favour some sanctions! </p>
        <% else %>
            <p>No favourites by this user yet. </p>
        <% end %>
    <% end %>


</div>

<% else %>

<div class="adminView">
<h1>Hello, <%= @current_user.username %>!</h1>
<%= link_to 'View comment history', "#{User.find_by(id: params[:id]).username}/history" , :class => "userOptions"%>
<%= link_to 'Update password', edit_user_path, :class => "userOptions" %>
        <%= form_tag("comments", method: :delete) do %>
            <% unless @current_user.comments.size == 0 %>
                <%= submit_tag "Delete all comments from this user", data: { confirm: "Are you sure to delete all this user's comments?", class: "delete_all_comments" }%><%= token_tag %>
            <% else %>
                <%= submit_tag "No comments from this user", class: "no_comments", data: { confirm: "Are you sure to delete all this user's comments?" }%><%= token_tag %>
            <% end %>
            <% end %>
<br>
<div class="personal_index">

    <h2>All users</h2>
    <% User.order(:id).each do |user| %>
        <a href="/users/<%= user.username %>"><%= user.username %></a>
    <% end %>

</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<br>
</div>
<% end %>



<script>

no_comments = document.querySelector(".no_comments")
if (typeof no_comments == 'object') {
    no_comments.disabled = true;


}





</script>