<title>Sancbook</title>

<h1 style="line-height:150%"> Welcome to Sancbook,
    <% if @current_user.present? %><%= @current_user.username %><% else %>visitor<% end %>! <h1>

<p class="countryCodes" style='display:none;font-size:x-small'><%= @country_codes %></p>
<p class="countryIds" style='display:none;font-size:x-small'><%= @country_ids %></p>
<p class="countrySanctions" style='display:none;font-size:x-small'><%= @country_sanctions_lengths %></p>

<h3 class='mapHeader'>Below countries shown in red are countries where some of the individuals have been sanctioned by by the Office of Foreign Assets Control (OFAC) of the U.S. Treasury Department. You can also add new sanctions and hopefully the US Government or any Government* in the world would notice your request. Click on the map NOW! Check out whom have been sanctioned, show your support*, and make friends around the world!</h3>
<div id="map"></div>
<div style="font-size:small;inline-height:50%;font-style:italic;">
<p>*or disapproval</p> <p>*Not exclusive to English-speaking countries. Russia and North Korea, for instance, may also listen to your request.</p>
</div>








<%= javascript_include_tag "mapdata" %>