<title>Sancbook</title>

<h1 style="line-height:150%"> Welcome to Sancbook,
    <% if @current_user.present? %><%= @current_user.username %><% else %>visitor<% end %>! <h1>

<p class="countryCodes" style='display:none;font-size:x-small'><%= @country_codes %></p>
<p class="countryIds" style='display:none;font-size:x-small'><%= @country_ids %></p>
<p class="countrySanctions" style='display:none;font-size:x-small'><%= @country_sanctions_lengths %></p>

<h3 class='mapHeader'>Below countries shown in red are countries where some of the individuals have been sanctioned by our users. You can click on the map, check out whom have been sanctioned, show your support* for the decision of sanciton, and interact with our users!</h3>
<div id="map"></div>
<p>*or disapproval</p>








<%= javascript_include_tag "mapdata" %>








