<title><%= @country.name %> | Sancbook</title>

<h1>Sanctions on <%= @country.name %></h1>
<p>Currently <%= @country.sanctions.size %> sanctions on this country.</p>
<br>
<div class="sanction_index">
    <% @sanctions.each do |sanction| %>
        <p>
            <a href="/sanctions/<%= sanction["id"] %>" data-turbolinks="false">
                <%= sanction["name"] %>
            </a>
        </p>
    <% end%>
</div>
