<!DOCTYPE html>
<html>
  <head>
    <title>Primaverii</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <%= link_to "All countries", countries_path %>
            <%= link_to "New country", new_country_path %>
            <%= link_to "All sanctions", sanctions_path %>
            <%= link_to "New sanction", new_sanction_path %>
        </nav>
    <br><br>
        <%= yield %>
    </div>
  </body>

  
</html>

