<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <div class="container">
      <header>
        <nav>
            <a href="/" data-turbolinks="false" style="font-weight:bold;font-size:x-large">Sancbook</a>
            <%= link_to "All countries", countries_path %>
            <% if @current_user.present? %>
              <% if @current_user.admin? %>
                <%= link_to "New country", new_country_path %>
              <% end %>
            <% end %>
            <%= link_to "All sanctions", sanctions_path %>
            <% if @current_user.present? %>
              <%= link_to "New sanction", new_sanction_path %>
            <% end %>
        </nav>
        <nav>
        <% if @current_user.present? %>
            <% if @current_user.admin? %>
              <%= link_to "All users", "/users/#{@current_user.id}/profile", {:style=>'display: inline-flex;
    align-self: flex-end;'} %>
            <% end %>
            
            <span><%= link_to "Logout", login_path, :method => 'delete' %>&nbsp(<%= link_to "#{@current_user.username}", "/users/#{@current_user.id}/profile" %>)</span>
        <% else %>
            <%= link_to "Login / Signup", login_path, {:style=>'display: inline-flex;
    align-self: flex-end;'} %>
        <% end %>
        </nav>
      </header>
    <br>
        <%= yield %>
    </div>
  </body>

  <footer> <%= link_to "About us", about_path %><div>© 2023 Sancbook</div></footer>
  
</html>

